@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 7;
  --background-end-rgb: 5, 5, 7;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  font-family: var(--font-inter), sans-serif;
  overflow: hidden; /* Ngăn scroll body */
}

.font-outfit {
  font-family: var(--font-outfit), sans-serif;
}

.glass-morphism {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.premium-gradient {
  background: linear-gradient(135deg, #1e1b4b 0%, #050507 100%);
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(139, 92, 246, 0.3);
  border-radius: 10px;
}

.mirror-mode {
  transform: scaleX(-1);
}